@@HEADER@@

    <testsuites>
        <testsuite name="unit">
            <directory phpVersion="@@PHP_VERSION@@" phpVersionOperator=">=" suffix="Test.php">tests/Unit</directory>
        </testsuite>
    </testsuites>

@@FILTER@@

@@LOGGING@@
